@use "@/assets/scss/spacings" as *;

.postContainer {
  display: flex;
  flex-direction: column;
  gap: $space-medium;
  grid-template-columns: 1fr 1fr;

  .thumbnail {
    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      max-height: 163px;
    }
  }

  .activities {
    display: flex;
    gap: $space-medium;
    align-items: center;
    justify-content: space-around;

    .activity {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $space-small;
    }
  }
}
