@use "tokens" as *;
@use "font-sizes" as *;
@import "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap";

body {
  margin: 0;
}

* {
  font-family: $font-family-base;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
