// Font Sizes
$font-size-xxl: 56px; // Large numbers (followers/subscribers)
$font-size-xl: 33px; // Overview values
$font-size-lg: 30px; // Main heading
$font-size-md: 25px; // Section headers
$font-size-sm: 14px; // Subtext, handles, daily changes
$font-size-xs: 12px; // Labels like FOLLOWERS/SUBSCRIBERS

// Font Weights
$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Font Family
$font-family-base: "Inter", sans-serif;
